<!DOCTYPE html>
<html lang="pt-BR">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Recover password</title>
    <link rel="stylesheet" th:href="@{/css/login.css}">
    <link rel="stylesheet" th:href="@{/css/global.css}">

     <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Manrope:wght@200..800&display=swap" rel="stylesheet">
</head>

<body>
<div class="login-container">
    <div class="login-image-logo-container">
        <img th:src="@{/imgs/apc-login-bg.png}" alt="Logo PUC Minas">
    </div>
    <div class="login-form">
        <form th:action="@{/recoverpassword}" method="post" class="login-form">
            <h4 class="login-title">E-mail de recuperação:</h4>
            <input type="email" id="email" name="email" placeholder="email" required>
            <div class="login-button-container">
                <button type="submit">Recuperar senha</button>
            </div>
            <p class="login-redirect-options">
                Lembrou sua senha? <a th:href="@{/login}" style="color: #FF743C; font-weight: bold; margin-left: 5px;">Faça login</a>
            </p>
        </form>
    </div>
</div>
</body>

</html>