<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaft.org" lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Register</title>
    <link rel="stylesheet" th:href="@{/css/global.css}">
    <link rel="stylesheet" th:href="@{/css/register.css}">

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Manrope:wght@200..800&display=swap" rel="stylesheet">
</head>
<body>
    <div class="register-container">
        <div class="register-image-logo-container">
            <img th:src="@{/imgs/apc-login-bg.png}" alt="">
        </div>
    </div>

    <div class="register-form">
        <h2 class="register-title">Crie sua conta</h2>

        <form th:action="@{/register}" method="post">
            <input type="email" name="email" placeholder="E-mail"  required>
            <input type="text" name="nome" placeholder="Nome completo"  required>
            <input type="text" name="cpf" placeholder="CPF"  required>
            <input type="text" name="rg" placeholder="RG"  required>
            <input type="text" name="endereco" placeholder="Endereço"  required>
            <input type="text" name="instituicao" placeholder="Instituição"  required>
            <input type="password" name="senha" placeholder="Senha"  required>

            <div class="register-button-container">
                <button type="submit">Registrar</button>
            </div>

            <div class="register-redirect-options">
                Já possui conta? <a th:href="@{/login}">Faça login</a>
            </div>
        </form>
    </div>
</body>
</html>